:root {
  background-color: #eaeaea;
}

* {
  box-sizing: border-box;
}

@function get_random_dimension($min-value, $max-value) {
  $value1: $max-value - $min-value + 1;
  $value2: $min-value - 1;
  @return random($value1) + $value2;
}

@function get_random_color() {
  $color-array: #ffcd71, #ffb27b, #ff7d7d, #5c95aa, #4c6193,
    darken(#ffcd71, 10%), darken(#ffb27b, 10%), darken(#ff7d7d, 10%),
    darken(#5c95aa, 10%), darken(#4c6193, 10%), lighten(#ffcd71, 10%),
    lighten(#ffb27b, 10%), lighten(#ff7d7d, 10%), lighten(#5c95aa, 10%),
    lighten(#4c6193, 10%);
  @return nth($color-array, random(length($color-array)));
}

@function get_random($random-array...) {
  @return nth($random-array, random(length($random-array)));
}

.input--container {
  padding: 20px;
  text-align: center;

  .input--field {
    padding: 15px;
    font-size: 20px;
    margin-right: 10px;
  }

  .update--button {
    padding: 15px;
    font-size: 20px;
  }
}

.unicode--grid--container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 50px);
  align-content: center;
  justify-content: center;
  margin: 1em 3em;
}

@for $i from 1 to 1000 {
  .unicode--grid--element:nth-child(#{$i}) {
    transform: rotate(get_random(0, 90, 180, 270) + deg);

    &::after {
      $background-color: get_random_color();
      $border-color: get_random_color();

      content: get_random("\1401", "\141b", "\27d4", "\141d");

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 50px;
      background: -webkit-linear-gradient(
        random(360) + deg,
        $background-color 50%,
        $border-color 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.dense--grid--container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(100, 100px);

  margin: 1em 3em;
}

@for $i from 1 to 1000 {
  .dense--grid--element:nth-child(#{$i}) {
    border: 5px double white;
    background-color: get_random_color();
  }

  .dense--grid--element:nth-child(2n) {
    grid-column: span get_random_dimension(1, 3);
    grid-row: span get_random_dimension(1, 3);
  }

  .dense--grid--element:nth-child(6n) {
    grid-column: span get_random_dimension(1, 3);
    grid-row: span get_random_dimension(1, 3);
  }

  .dense--grid--element:nth-child(8n) {
    grid-column: span get_random_dimension(1, 3);
    grid-row: span get_random_dimension(1, 3);
  }
}
